{
  "plugins": [
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true
  },
  "rules": {
    "node/exports-style": [
      "error",
      "module.exports"
    ],
    "semi": "error",
    "node/no-unpublished-require": [
      "error",
      {
        "allowModules": [
          "chai",
          "chai-http"
        ]
      }
    ]
  }
}